<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<title>TEST feargarden.xyz</title>
        <link rel="stylesheet" type="text/css" href="design.css">
		<link rel="shortcut icon" href="icon.png" type="image/x-icon">
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
            <div class="navigation">
                <img class="icon" src="icon.png">
                <span class="title">feargarden.xyz</span>
                <a href="?p=index">index</a>
                <a href="?p=about">about & contact</a>
                <a href="?p=sites">websites</a>
                <a href="/blog">blog</a>
            </div>
            <div class="content">
                <!-- in a perfect world generated content goes here -->